#IDE-generated
.gradle
.DS_Store
/build
/captures
.externalNativeBuild

#Hand-written
.gradle/
.idea/
build/
gradle/
piridialogs-release/
piricomponents-release/
piripreferences-release/
**.properties
gradlew**
**.log
**.aar
**.apk
**.iml
