<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.thisispiri.mnk">
	<uses-feature android:name="android.hardware.wifi" android:required="false"/>
	<uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
	<!--We never actually query or use location, but adding the location permission seems to add this automatically-->
	<uses-feature android:name="android.hardware.location" android:required="false"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET"/>


	<!--<uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>-->
	<application
		android:allowBackup="false"
		tools:replace="android:allowBackup"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.AppCompat.Light.NoActionBar"
		android:requestLegacyExternalStorage="true"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name="com.thisispiri.mnk.andr.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.thisispiri.mnk.andr.SettingActivity"/>
	</application>
</manifest>